/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arimo', sans-serif;
    background-color: #FFFFFF;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E5E7EB;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo {
    width: 120px;
    height: auto;
}

/* Search Bar */
.search-bar {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 50%;
}

.search-input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #D1D5DC;
    border-radius: 20px 0 0 20px;
    width: 100%;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: #E5E7EB;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

.search-icon {
    width: 18px;
    height: 18px;
    background-color: #0F0F0F;
}

/* Gesture Badge */
.gesture-badge {
    display: flex;
    align-items: center;
    background-color: #F0FDF4;
    padding: 8px 16px;
    border: 1px solid #B9F8CF;
    border-radius: 20px;
    color: #008236;
}

/* Main Content */
.content {
    display: flex;
    justify-content: space-between;
    padding: 32px;
    gap: 32px;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    width: 70%;
}

.video-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.thumbnail {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.video-info {
    padding: 16px;
}

.video-title {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.video-details {
    font-size: 14px;
    color: #606060;
}

/* Gesture Section */
.gesture-description {
    background-color: #FEF2F2;
    width: 30%;
    padding: 16px;
    border-radius: 16px;
}

.gesture-heading {
    font-size: 18px;
    font-weight: bold;
    color: #DC2626;
    margin-bottom: 16px;
}

.gesture-text, .gesture-steps {
    font-size: 14px;
}

.activate-mode, .end-cursor-mode {
    display: block;
    width: 100%;
    padding: 12px;
    margin-top: 16px;
    background-color: #E7000B;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.hidden {
    display: none; /* Elemente vorübergehend verstecken */
}